fastapi
uvicorn[standard]

python-dotenv
pydantic
pydantic-settings

sqlalchemy
psycopg2-binary
alembic

python-jose[cryptography]
passlib
python-multipart

opencv-python
numpy
pandas
scikit-learn
joblib
scikit-image

Pillow

geopy

email-validator
openpyxl

slowapi
httpx
